<%- include('../includes/head.ejs') %>
    <!--this connects to the stylesheets-->
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
                <!--The code below creates the login form-->
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <!--The code below creates the Email form-->
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <!--The code for the crsf-->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!--The code below creates the Reset button-->
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>